@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@* Calls the `Counter.razor` component *@
@* The attribute `IncrementAmount="10"` controls the step size *@
<Counter IncrementAmount="10"/> 